@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0d1117;
  --foreground: #34d399;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0d1117;
    --foreground: #34d399;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  @apply text-foreground;
}

@layer utilities {
  .highlight-text {
    @apply text-green-300 font-bold;
  }
}
